$rem: 1rem;
$size: (xs:0.5*$rem, s:0.8*$rem, l:1.2*$rem, xl:1.5*$rem, xxl:1.8*$rem, xxxl:2.2*$rem);

$colorBlack:#000000;
$colorMain:#555555;
$colorTip:#888888;
$colorBorder:#d9d9d9;

$colorWhite:#ffffff;
$colorBg:#fbf9fe;

$colorGreen:#04be02;
$colorRed:#f70968;
